<%- include("template/cabecera", {titulo: 'Error 404'}); %>

<body>
    <img src="https://ruotedasogno-live.fra1.cdn.digitaloceanspaces.com/catalog/product/cache/6/small_image/1920x1280/e9c3970ab036de70892d86c6d221abfe/p/e/peu00004-21.jpg " height="800px" alt="404">
    <h1> ERROR - 4 0 4 - Página no encontrada </h1>
</body>
</html>