<%- include("template/cabecera", {titulo: 'Página inicio' }); -%>

    <body>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }
        </style>
        <div class="container-fluid">
            <div class="panelSuperior">
                <div>
                    <h2 class="titulo"> BIENVENIDO TIENDA BACKEND EJS </h2>
                </div>

            </div>


            <!-- <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul> -->

            <!-- formulario de ingreso -->
            <h2>Para ingresar un PRODUCTO NUEVO al stock utilice este formulario</h2>

            <form action="/productos" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"> NOMBRE DEL PRODUCTO </span>
                    <input type="text" name="title" class="form-control" placeholder="Nombre del producto"
                        aria-label="Nombre producto" aria-describedby="basic-addon1" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"> URL IMAGEN DEL PRODUCTO </span>
                    <input type="url" name="thumbnail" class="form-control" placeholder="URL Imagen producto"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" required>

                </div>

                <!-- <label for="basic-url" class="form-label">Your vanity URL</label> -->
                <div class="input-group">
                    <span class="input-group-text"> CODIGO / PRECIO / STOCK DISPONIBLE </span>
                    <input type="number" name="codigo" aria-label=" Last name" class="form-control" placeholder="Código"
                        required>
                    <input type="number" name="price" aria-label=" First name" class="form-control"
                        placeholder="Precio $" required>
                    <input type="number" name="stock" aria-label=" Last name" class="form-control"
                        placeholder="Stock disponible" required>
                </div>

                <div class="input-group">
                    <span class="input-group-text"> DESCRIPCION</span>
                    <textarea class="form-control" name="descripcion" aria-label="With textarea"
                        placeholder="Descripción del producto" required></textarea>
                </div>
                <br>
                <div class="form-check form-switch">
                    <input class="form-check-input" name="admin" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked"> <b>Esta acción es solo para
                        administradores. Si eres administrador activa el checkbox antes de guardar.</b>
                    </label>
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
                <hr>
                </form>
                        <!-- EDITAR PRODUCTO EXISTENTE -->
            <h2>Para editar un PRODUCTO EXISTENTE utilice el siguiente fomulario</h2>

            <form action="/productos" method="put">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"> NOMBRE DEL PRODUCTO </span>
                    <input type="text" name="title" class="form-control" placeholder="Nombre del producto"
                        aria-label="Nombre producto" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"> URL IMAGEN DEL PRODUCTO </span>
                    <input type="url" name="thumbnail" class="form-control" placeholder="URL Imagen producto"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">

                </div>

                <!-- <label for="basic-url" class="form-label">Your vanity URL</label> -->
                <div class="input-group">
                    <span class="input-group-text"> CODIGO / PRECIO / STOCK DISPONIBLE </span>
                    <input type="number" name="codigo" aria-label=" Last name" class="form-control"
                        placeholder="Código">
                    <input type="number" name="price" aria-label=" First name" class="form-control"
                        placeholder="Precio $">
                    <input type="number" name="stock" aria-label=" Last name" class="form-control"
                        placeholder="Stock disponible">
                </div>

                <div class="input-group">
                    <span class="input-group-text"> DESCRIPCION</span>
                    <textarea class="form-control" name="descripcion" aria-label="With textarea"
                        placeholder="Descripción del producto"></textarea>
                </div>
                <br>
                <div class="form-check form-switch">
                    <input class="form-check-input" name="admin" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked"> <b>Esta acción es solo para
                        adminitradores. Si eres administrador activa el checkbox antes de guardar.</b>
                    </label>
                    <input class="btn btn-primary" type="submit" value="Guardar">
                </div>
            </form>
            <hr>
            </div>

        <h2>Para eliminar un producto según su Id, utilice el siguiente casillero</h2>
        <form action="/productos" method="delete">
            <input type="number" name="id" aria-label=" Last name" class="form-control" placeholder="Id a aliminar">
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" name="admin" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked"> <b>Esta acción es solo para
                    adminitradores. Si eres administrador activa el checkbox.</b>
                </label>
                <input class="btn btn-primary" type="submit" value="Guardar">
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    </body>

    </html>